div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  h1 {
    font-size: 7rem;
    color: orange;
  }

  button {
    padding: 20px 50px;
    margin: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 2rem;
  }
}